.mainContainer {
    margin-left: auto;

}

.game {
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to bottom, black, 90%, rgb(50,50,50));

}

.gameWhite {
    background-image: linear-gradient(to bottom, white, lightgray);
    color: black;
    border-color: darkgray;
}

.pgnToggle {
    border: 2px solid gray;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    padding: 2px 15px;
}

.gameInfo {
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:visited {
    color: inherit;
}

.gamesContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}


.scoutingReportContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.commonOpeningContainer {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 25px;
    border: 2px solid gray;
    background-image: linear-gradient(to bottom, black, 90%, rgb(50,50,50));
    
}

.commonOpeningContainerWhite {
    background-color: white;
    color: black;
    background-image: linear-gradient(to bottom, white, 80%, gray);

}

.commonOpeningList {
    margin: 10px 25px;
}

.commonOpeningList p:first-child {
    font-weight: bold;
    font-size: larger;
}

.scoutingTitle {
    font-size: 3em;
    text-align: center;
}

@media (min-width: 1000px) {
    .gamesContainer {
        grid-template-columns: 1fr 1fr;

    }
}